@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply !tw-scroll-smooth tw-font-mono tw-text-gray-400 tw-bg-gradient-to-br tw-to-preto tw-from-cinza;
  }

  .titulo {
    @apply tw-text-xl tw-font-black md:tw-text-3xl;
  }

  .burger {
    @apply tw-border tw-h-[4px] tw-bg-transparent tw-ease-out tw-duration-300;
  }

  .burger-clicado {
    @apply tw-border tw-h-[4px] tw-bg-white tw-ease-out tw-duration-300;
  }

  .botao {
    @apply tw-border-2 tw-rounded-[15px] tw-font-semibold tw-border-marrom tw-bg-marrom tw-px-4 hover:tw-bg-transparent hover:tw-text-marrom animation;
  }

  .animation {
    @apply tw-duration-200 tw-ease-out;
  }

  .input {
    @apply tw-rounded-[15px] tw-py-2 tw-px-5 tw-text-white placeholder:tw-text-white tw-bg-marrom/10 tw-w-full !tw-z-50;
  }

  .form-error {
    @apply tw-ease-linear tw-duration-300 tw-bg-red-400 tw-text-white placeholder:tw-text-white !tw-z-50;
  }
}

@keyframes left-bounce {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }
}

.left-bounce {
  animation-name: left-bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


.borda_texto {
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #17181D;
}

::-webkit-scrollbar-thumb {
  background: #E09145;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E09145;
}